Repository AM-77/loaders: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

setup the app
  .huskyrc
Due: none

setup the app
  package.json
Due: none

update the public folder
  public/index.html
  public/logo.gif
  public/logo192.png
  public/logo512.png
  public/manifest.json
Due: none

add types
  src/types/ILoader.ts
Due: eslint --cache --fix, prettier --write

add assets
  src/assets/logo.gif
  src/assets/scss/constants.scss
Due: prettier --write

install copy-to-clipboard & prismjs
  package.json
  yarn.lock
Due: none

update .eslintrc.json
  .eslintrc.json
Due: none

add Loader component
  src/components/Loader/Loader.tsx
Due: eslint --cache --fix, prettier --write

add LoaderCard component
  src/components/LoaderCard/LoaderCard.tsx
  src/components/LoaderCard/style.scss
Due: eslint --cache --fix, prettier --write

add Modal component
  src/components/Modal/Modal.tsx
  src/components/Modal/prism-nord.css
  src/components/Modal/style.scss
Due: eslint --cache --fix, prettier --write

add Loaders container
  src/containers/Loaders/Loaders.tsx
  src/containers/Loaders/style.scss
Due: eslint --cache --fix, prettier --write

add NavBar container
  src/containers/NavBar/NavBar.tsx
  src/containers/NavBar/style.scss
Due: eslint --cache --fix, prettier --write

update the App
  src/App.css
  src/App.test.tsx
  src/App.tsx
  src/index.css
  src/index.scss
  src/index.tsx
  src/logo.svg
Due: eslint --cache --fix, prettier --write

format the app
  src/reportWebVitals.ts
Due: eslint --cache --fix, prettier --write

add tests
  src/__tests__/App.test.tsx
Due: eslint --cache --fix, prettier --write

add loaders
  src/loaders/index.ts
  src/loaders/loader-exemple/index.ts
  src/loaders/loader-exemple/style.scss
Due: eslint --cache --fix, prettier --write

simple updates
  public/index.html
  src/components/Modal/style.scss
  src/containers/Loaders/Loaders.tsx
  src/containers/Loaders/style.scss
Due: eslint --cache --fix, prettier --write

add filters
  src/App.tsx
  src/containers/Loaders/Loaders.tsx
  src/containers/NavBar/NavBar.tsx
  src/containers/NavBar/style.scss
Due: eslint --cache --fix, prettier --write

add ITag
  src/types/ITag.ts
Due: eslint --cache --fix, prettier --write

hide warnings
  src/components/Loader/Loader.tsx
Due: eslint --cache --fix, prettier --write

add 15 loader
  src/loaders/index.ts
  src/loaders/loader-0/index.ts
  src/loaders/loader-0/style.scss
  src/loaders/loader-1/index.ts
  src/loaders/loader-1/style.scss
  src/loaders/loader-10/index.ts
  src/loaders/loader-10/style.scss
  src/loaders/loader-11/index.ts
  src/loaders/loader-11/style.scss
  src/loaders/loader-12/index.ts
  src/loaders/loader-12/style.scss
  src/loaders/loader-13/index.ts
  src/loaders/loader-13/style.scss
  src/loaders/loader-14/index.ts
  src/loaders/loader-14/style.scss
  src/loaders/loader-2/index.ts
  src/loaders/loader-2/style.scss
  src/loaders/loader-3/index.ts
  src/loaders/loader-3/style.scss
  src/loaders/loader-4/index.ts
  src/loaders/loader-4/style.scss
  src/loaders/loader-5/index.ts
  src/loaders/loader-5/style.scss
  src/loaders/loader-6/index.ts
  src/loaders/loader-6/style.scss
  src/loaders/loader-7/index.ts
  src/loaders/loader-7/style.scss
  src/loaders/loader-8/index.ts
  src/loaders/loader-8/style.scss
  src/loaders/loader-9/index.ts
  src/loaders/loader-9/style.scss
Due: eslint --cache --fix, prettier --write

update the description
  public/index.html
Due: none

update README
  README.md
Due: prettier --write

add jest support
  .eslintrc.json
Due: none

[ImgBot] Optimize images
  public/logo.gif
  src/assets/logo.gif
Due: none

Create LICENSE
  LICENSE
Due: none

add responsivness
  src/containers/Loaders/style.scss
  src/containers/NavBar/style.scss
Due: prettier --write

add loaders
  src/loaders/index.ts
  src/loaders/loader-15/index.ts
  src/loaders/loader-15/style.scss
  src/loaders/loader-16/index.ts
  src/loaders/loader-16/style.scss
  src/loaders/loader-17/index.ts
  src/loaders/loader-17/style.scss
  src/loaders/loader-6/index.ts
  src/loaders/loader-6/style.scss
Due: eslint --cache --fix, prettier --write

update styles
  src/containers/Loaders/Loaders.tsx
  src/containers/Loaders/style.scss
Due: eslint --cache --fix, prettier --write

fix spining
  src/loaders/loader-0/style.scss
Due: prettier --write

update navbar background
  src/assets/scss/constants.scss
  src/containers/NavBar/NavBar.tsx
  src/containers/NavBar/style.scss
Due: eslint --cache --fix, prettier --write

add single-div tag
  .eslintcache
  src/loaders/loader-0/index.ts
  src/loaders/loader-1/index.ts
  src/loaders/loader-10/index.ts
  src/loaders/loader-11/index.ts
  src/loaders/loader-12/index.ts
  src/loaders/loader-13/index.ts
  src/loaders/loader-14/index.ts
  src/loaders/loader-15/index.ts
  src/loaders/loader-16/index.ts
  src/loaders/loader-17/index.ts
  src/loaders/loader-2/index.ts
  src/loaders/loader-3/index.ts
  src/loaders/loader-4/index.ts
  src/loaders/loader-6/index.ts
  src/loaders/loader-8/index.ts
  src/loaders/loader-9/index.ts
  src/loaders/loader-exemple/index.ts
Due: eslint --cache --fix, prettier --write

update loader-10
  src/loaders/loader-10/style.scss
Due: prettier --write

add loader-18 loader-19 loader-20
  .eslintcache
  src/loaders/index.ts
  src/loaders/loader-18/index.ts
  src/loaders/loader-18/style.scss
  src/loaders/loader-19/index.ts
  src/loaders/loader-19/style.scss
  src/loaders/loader-20/index.ts
  src/loaders/loader-20/style.scss
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: any of: *.{js,jsx,css,scss,md,ts,tsx}
